.kaufman {
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F1F1F;
  }
  .section-title_theme_dark {
    color: white;
    text-align: center;
    z-index: 1;
  }
  .section-subtitle_theme_dark {
    color: white;
    
  }
  .kaufman__triangle {
    width: 660px;
    height: 636px;
    position: absolute;
    right: -124px;
    top: 90px;
    z-index: 0;
  }